html {
  font-size: 62.5%;
}

body {
  font-family: 'Indie Flower', cursive;
  background: #f2f2f2;
  color: #333;
  font-size: 1.8rem;
}

a {
  color: #333;
  text-decoration: none;
}

a {
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    );
       
  background-size: 0% 3px;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: 200ms ease-out;
}

a:hover {
  background-size: 100% 3px;
}

.content {
  max-width: 96rem;
  margin: 0 auto;
}

nav {
  margin: 1rem auto 4rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}

nav a {
  margin-left: 1.2rem;
}

nav .logo {
  margin-right: auto;
}

footer {
  display: block;
  text-align: center;
  padding: 3rem 0;
  margin-top: 6rem;
  color: #777;
  border-top: 1px solid #eaeaea;
}

.notFound {
  text-align: center;
}

.mb-4 {
  margin-bottom: 4rem;
}