.title {
  color: #333;
  padding-bottom: 2rem;
  text-align: center;
}

.text {
  color: #777;
}

.btn {
  display: block;
  width: 15rem;
  padding: 8px 0;
  margin: 2rem auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.image {
  display: flex;
  justify-content: center;
}
